
  html {
    height: 100%;
  }



.header-main {
  display: flex;
  margin: 70px 10% 0;
}


body {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  background: khaki;
  display: revert;
}





.section-promo__h2 {
  text-align: center;
  font-size: 100px;
  line-height: 50px;
  margin-top: 50px;
  margin-bottom: 80px;
    z-index: 1;
    color: red;
    top: 30px;
    left: 40%;
    
}

.section-promo__div {
  align-items: center;
  margin: 50px 0 50px;
  top: 250px;
  left: 30%;
}

.section-promo__list-item {
  font-size: 30px;
  line-height: 30px;
  list-style: none;
  color: #fafafa;
}

.section-promo__list-item:nth-child(1) {
  margin-bottom: 30px;
}
.section-promo__list-item:nth-child(2) {
  margin-bottom: 30px;
}
.section-promo__list-item:nth-child(3) {
  margin-bottom: 30px;
}

.section-promo {
  text-align: center;
}
.section-promo__list {
  margin: 0;
  padding: 0;
}

.button {
  border: none;
  height: 50px;
  background-color: brown;
  font-size: 20px;
  line-height: 15px;
  color: beige;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.section-composition-of-product--flex {
  display: flex;
  margin: 100px 0 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 10% 0;
}

.section-composition-of-product__img-big {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 500px
}

.section-composition-of-product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-content__section {
  text-align: center;
  
}

.section-composition-of-product {
  background: linear-gradient(#9A5044, #cfa620);
  padding: 20px 20px 20px;
}



.section-promo2__h2 {
  margin: 0;
  text-align: start;
  max-width: 700px;
  font-size: 30px;
  line-height: 30px;
}


.section-promo2__list {
  list-style: none;
  font-size: 30px;
  
}

.section-promo2 {
  background: linear-gradient(#9d8abb, #cfa620);
  padding: 50px 20px 50px;
}

.section-order-form__h2 {
  font-size: 55px;
  line-height: 15px;
  margin: 0;
  padding-bottom: 100px;
}

.section-form--flex {
  display: flex;
  justify-content: space-around;
}

.section-order-form__new-price {
  text-decoration: line-through;
  line-height: initial;
  font-size: 30px;
}



@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

.section-order-form__price {
  width: 410px;
  margin: 10% auto;
}
.section-order-form__price {
  color: red;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}
.section-order-form__price {
  font-family: "Seaweed Script";
  color: red;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
}
.section-order-form__price {
  padding: 0 0.3em;
}
.section-order-form__price:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #000000;
}

.form__div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.section-form {
  padding-bottom: 50px;
  background: linear-gradient(#9d8abb, #044923);
}

.section-composition-of-product__img {
  border-radius: 50%;
}

.section-promo__img {
  padding-right: 30%;
  width: 500px;
  height: 300px;
}

.main-content__section {
  width: 100%;
  } 

@media (max-width: 1500px) {

  .fullscreen-bg__video {
    display: none;
}
.section-promo__list-item{
  color: #000000;
}
} 

 @media (max-width: 900px) {
  .main-content__section {
  width: 100%;

  }

  .section-promo2__img{
    width: 200px;
  }
  .form__div,
  .form__control1,
  .form__control2{
    display: block;
    padding-bottom: 30px;
    color: #fff;
  }
  .section-form__img {
    width: 100px;
    height: 300px;
}
 }


@media (max-width: 950px) {
 .section-promo2__h2{
  font-size: 10px;
 }

  .section-promo2__h2{
    font-size: 20px;
  }
  .section-promo2__list-item{
    font-size: 15px;
  }
  .section-promo2__img{
    width: 100px;
    height: 300px;
  }
  
}

@media (max-width: 550px) {
  .section-promo2__img{
  display: none;
  }
  .section-composition-of-product__img-big{
    width: 100px;
    height: 400px;
  }
  .section-composition-of-product__description{
    width: 50px;
    height: 50px;
  }
  .section-composition-of-product__img{
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 1500px) {
  .section-promo__img{
    width: 50px;
    height: 200px;
    }

    .section-promo__list-item{
      font-size: 25px;
    }
    .button {
      width: 200px;
    }

    .section-promo2__list{
      display: block;
    }
    .section-promo2__list-item:nth-child(1){
      padding-bottom: 20px;
    }
    .section-promo2__list-item:nth-child(2){
      padding-bottom: 20px;
    }
    .section-promo__h2 {
      font-size: 40px;
    }
    .section-promo__div{
      display: flex;
      justify-content: center;
    }

    .section-promo__list-item{
      font-size: 15px;
    }
    .fullscreen-bg{
      padding: 0;
      background: linear-gradient(#fa7406, #f4f808);
    }

   
}

@media (min-width: 1500px) {
  .section-promo__h2 {
    position: absolute;
  }
  .section-promo__div{
    position: absolute;
    z-index: 1;
    display: flex;
  }
  .section-promo__button{
    top: 550px;
  }
  .section-promo__button{
    position: absolute;
    z-index: 999;
  }
  .section-promo{
    position: relative;
    z-index: -999;
  }
  .main-content__section{
    position: relative;
    z-index: -9999;
  }
  body{
    position: relative;
    z-index: -99999;
  }
}

.form__div,
  .form__control1,
  .form__control2{
    color: #fff;
  }

.section-composition-of-product,
.section-promo,
.section-reviews,
.section-promo2,
.section-form{
  padding-bottom: 50px;
  padding-top: 50px;
}



#slider { /*положение слайдера*/
  position: relative;
text-align: center;
  top: 10px;
}

#slider{ /*центровка слайдера*/
margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
width: 20%;
float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
width: 500%;
line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
width: 100%;
overflow: hidden;
}

article img{ /*размер изображений слайдера*/
width: 500px;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
background: url('prev.png') no-repeat; /*заливка фона картинкой без повторений*/
float: left;
margin: 0 0 0 -84px; /*сдвиг влево*/
display: block;
height: 68px;
width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
background: url('./image/back_arrow_5821.png') no-repeat; /*заливка фона картинкой без повторений*/
float: right;
margin: 0 -84px 0 0; /*сдвиг вправо*/
display: block;
height: 68px;
width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
margin-left: 0;
}

#switch2:checked ~ #slides .image{
margin-left: -100%;
}

#switch3:checked ~ #slides .image{
margin-left: -200%;
}

#switch4:checked ~ #slides .image{
margin-left: -300%;
}

#switch5:checked ~ #slides .image{
margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
margin: -25% 0 0 0;
width: 100%;
height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
border-radius: 10px; /*скругление углов*/
display: inline-block; /*расположение в строку*/
width: 15px;
height: 15px;
background: #bbb;
}

#active{ /*расположение блока с переключателями*/
margin: 23% 0 0;
text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
background: #76c8ff;
border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
background: #18a3dd;
border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}





    @media (prefers-reduced-motion: no-preference) {
      :root {
        scroll-behavior: smooth;
      }
    }


    .timer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .timer__items {
      display: flex;
      font-size: 48px;
    }

    .timer__item {
      position: relative;
      min-width: 60px;
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 15px;
      text-align: center;
    }

    .timer__item::before {
      content: attr(data-title);
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      font-size: 14px;
    }

    .timer__item:not(:last-child)::after {
      content: ':';
      position: absolute;
      right: -15px;
    }

    .timer__result {
      text-align: center;
      padding: 10px;
      color: #9c27b0;
      font-weight: bold;
    }

    hr {
      border-color: #fafafa;
      border-style: solid;
    }

    .section-reviews{
      background: linear-gradient(#9d8abb, #f4f808);
    }







    a {
      position: relative;
      display: inline-block;
      outline: none;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    
    .effect-1 {
      margin: 100px auto;
      padding: 30px 0;
      width: 200px;
      background-color: #f19f0f;
      text-align: center;
    }
    
    .effect-1 a {
      padding: 6px 0 8px;
      color: #ffffff;
      font-weight: 300;
    }
    
    .effect-1 a::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: rgba(0, 0, 0, 0.1);
      content: "";
      transition: opacity 0.3s, transform 0.3s;
      opacity: 0;
      transform: translateY(10px);
    }
    
    .effect-1 a:hover::after {
      opacity: 1;
      transform: translateY(0px);
    }

    
    .fullscreen-bg {
      overflow: hidden;
      z-index: -100;
      position: relative;
      height: 100%;
      width: 100%;
      padding-top:50px;
      z-index: -1;
  }
   
  .fullscreen-bg__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  .overlay {
      background: rgba(0,0,0,0.6);
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: 4;
  }
  .overlay h1 {
      text-align:center;
      color:#fff;
      font-size: 70px;
      margin-top:17%;
  }

  @media (max-width: 1200px) {

    .section-promo__button{
      top: 600px;
      left: 600px;
    }
.main-content__section{
  padding: 0 20% 0;
}  
}

@media (min-width: 1200px) {
  .section-composition-of-product__img{
    width: 200px;
    height: 200px;
  }

  .overlay{
    background: none;
  }

  
}


@media (min-width: 550px) {
  .section-promo2__div{
    display: flex;
    justify-content: center
  }
  .section-promo2__list{
    display: flex;
    justify-content: space-between;
  }
  .section-composition-of-product__img{
    width: 100px;
    height: 100px;
  }
}



.section-promo {
  padding: 0;
  height: 800px;
}




@media (max-width: 1200px) {

  .overlay{
    background: none;
  }

  .section-promo__list-item{
    color: #000000;
  }



}

@media (max-width: 1100px) {

  .form__div,
  .form__control1,
  .form__control2{
    display: block;
    padding-bottom: 30px;
    color: #fff;
  }
  .form__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
 
  }
.section-form--flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__control1,
.form__control2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
}

.section-form__img{
  width: 200px;
} 

.button:hover{
  background-color: #f19f0f;
  border: #76c8ff 2px solid;
}

.button:active{
  background-color: #18a3dd;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}





